.header{
	position: fixed;
	left: 0;
	top: 0;
	z-index: 1000;
	width: 100%;
	height: 70px;
	padding: 0 11em;
	background-color: #fff;	
	display: flex;
	box-shadow: 0 5px 15px -2px rgba(0,0,0,.2);

	.container{
		display: flex;
		justify-content: space-between;
	}

	.mark{
		color: #fc8f3e;
		background-color: #fff;
		font-size: 18px;
	}

	.mark-merc{
		font-weight: bold;
		padding-right: 15px;
	}

	.offcanvas,
	.liga,
	.liga-logo{
		display: flex;
		align-items: center;
		.calendario{
			padding-right: 17px;
		}
	}

	.offcanvas .item{
		font-size: 2rem;
	}
	
	.liga{
		flex-direction: row;
		> p{
			font-size: .7rem;
			margin-right: .5em;
			margin-bottom: 0;
		}
	}

	@include media-breakpoint-up('lg'){
		.offcanvas{
			display: none;
		}
	}
}

.user{
	position: fixed;
}
