@import "../../components/bootstrap/scss/bootstrap";
@import "../../components/components-font-awesome/scss/fontawesome";

/* sidebar */
@import "sidebar";

/* Header */
@import "header";

body{
	background-color: #efefef;
}

.login-box {
	border: 1px solid #cecece;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.15);
	-moz-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.15);
	box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.15);
	margin-top: 10%;
	padding: 0px !important;
	background-color: white;
	.login-header {
		background-color: #000053;
		border-bottom: 1px solid #cecece;
		text-align: center;
		padding-top: 10px;
		padding-bottom: 10px;
		margin-bottom: 10px;
		.head-login {
			color: white;
			padding: 0px !important;
			font-size: 1.4rem;
			margin-left: 5px;
			vertical-align: middle;
		}
	}
	form {
		margin-left:30px !important;
		margin-right:30px !important;
		margin-bottom: 30px !important;
	}
}

.form-box {
	border: 1px solid #cecece;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.15);
	-moz-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.15);
	box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.15);	
	padding: 0px !important;
	background-color: white;
	padding-left:30px !important;
	padding-right:30px !important;
	padding-bottom: 30px !important;
}

/*Botão Ativo e Inativo*/
.btn-danger:active, .btn-danger.active, .show > .btn-danger.dropdown-toggle {
    color: #fff;
    background-color: #c9302c;
    background-image: none;
    border-color: #c12e2a;
}

.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #5cb85c;
}

.toggle-off.btn {
    padding-left: 24px;
}

.toggle-on {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 50%;
    margin: 0;
    border: 0;
    border-radius: 0;
}

/*Fim do Botão*/

.table-bordered, .table-bordered th, .table-bordered td {
    border: 1px solid #cccdce;
	vertical-align: middle !important;
}

.table-striped tbody tr:nth-of-type(even), .table-striped thead tr {
    background-color: white;
}

.add {
	color: #5cb85c;
}

.add-disabled {
	color: rgba(92, 184, 92, 0.35);
}

.edit {
	color: #5bc0de;
	margin-left: 5px;
	margin-right: 5px;
}

.edit-disabled {
	color: rgba(91, 192, 222, 0.35);
	margin-left: 5px;
	margin-right: 5px;
}

.del {
	color: #d9534f;
	margin-left: 5px;
	margin-right: 5px;
}

.del-disabled {
	color: rgba(217, 83, 79, 0.35);
	margin-left: 5px;
	margin-right: 5px;
}

.infor {
	color: #6c757d!important;
}

.center {
	text-align: center;
	horizontal-align: center;
}

.bigcolumn-title{
	width: 30%;
}
.bigcolumn {
	width: 40%;
}

.form-panel{
	margin-bottom: 30px;
}

.btn-link {
	cursor: pointer;
}

#box-rodada, #box-confirmacao, .mainform,.mainform-palestra ,.check-duplicated, .maintemporada, .mainadd, #box-confrontos, #box-times {
	display: none;
}

.btn-link:focus, .btn-link:hover{
	color: #000;
	text-decoration: none;
}

.btn-voltar {
	text-align: left;
   	padding-left: 120px !important;
   	margin-bottom: 20px;
   	color: #000;
    
}

.btn-form{
	margin-top: 20px;
}

.btn-esqueceu{
	font-weight: normal;
    color: #000;
    border-radius: 0;
    font-size: 12px;
}

.headline {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 15px 20px;
    margin-top: 80px;
    margin-left: 100px;
}

.tbl-position{
	margin-left: 60px;
}

.btn-lg, .btn-group-lg > .btn {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 0.5;
    border-radius: 0.3rem;
}