RewriteEngine On

RewriteRule ^/?$ index.php
RewriteRule ^servicos/?$ servicos.php
RewriteRule ^consultoria/?$ consultoria.php
RewriteRule ^cursus/?$ cursos.php
RewriteRule ^quem-somos/?$ quem-somos.php
RewriteRule ^contato/?$ contato.php

RewriteRule ^admin/?$ admin/index.php
RewriteRule ^admin/home/?$ admin/home.php
RewriteRule ^admin/cursos/?$ admin/cursos.php
RewriteRule ^admin/consultoria/?$ admin/consultoria.php
RewriteRule ^admin/inscricao/?$ admin/inscricao.php
RewriteRule ^admin/logout/?$ admin/logout.php